SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/home/$USER/dotfiles/battery.sh true"
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/$USER/dotfiles/AC.sh true"
